html {
	margin: 0;

	font-family: helvetica;
	max-width: 1920px;
 }

h1 {
	margin: 0;
	color: #656565;
	font-size: 2rem;
 }


.title2  {
    text-align: center;
}
.title-film {
    margin-left: 16px;
}


.accueil, .cat
{
    float: right;
}
#top-films-list, #top-films-genre, #top-films-drama, #top-films-crime
{
    margin-left:20em;
}

#cadre-film {
border: 3px solid #000;
}

.film-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.play-button,.info-button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  cursor: pointer;

}
.play-button {
  position: relative;
    left: 2em;

}

.play-button:hover,.info-button:hover {
  background-color: #555;
}

#top-films-container {
  margin: 20px 0;
}

a{
  color: white;
   list-style-type: none;
    margin: 0;
    padding: 0;


}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

.img-film{
position: relative;
left: 75em;
}

.img-film img{
margin-top: -102px;
}

.top-film-img,.top-film-img-gnr,.top-film-img-dr,.top-film-img-cr{
  white-space: pre-wrap;
  min-height: 325px;
   margin-right: 10px;
}

.top-film-img,.top-film-img-gnr ,.top-film-img-dr,.top-film-img-cr{
  margin-right: 10px; /* Pour ajouter un espace entre chaque image */
  width: 120px;
  display: inline-table;
}
 .top-film-img img,.top-film-img-gnr, .top-film-img-dr,.top-film-img-cr {
  margin: 10px;

}

.modal-content {
          position: fixed;
          height: 500px;
          width: 500px;
          background-color: grey;
          border: 3px solid #000;
          z-index: 10000;
          top: 10%;
          left: 25%;
          margin: auto;

        }
.modal{
display: none;
}


.carousel-item {
  position: relative;
  width: calc(100% / 7);
  height: 100%;
  text-align: center;
}
.carousel-item img {
  max-width: 100%;
  max-height: 100%;
}


#prev-btn, #next-btn {
  padding: 10px;
  font-size: 24px;

}
#next-btn{
margin-left: 37em;
clear: both;
margin-top: 130px;
position: absolute;
 bottom: 0;
}
#prev-btn {
 margin-left: -76px;
 position: absolute;
 bottom: 0;
 }


#prec-btn, #suiv-btn {
  padding: 10px;
  font-size: 24px;
}
#suiv-btn{
margin-left: 36.5em;
position:absolute;
bottom:-360px;
}
#prec-btn {
 margin-left: -76px;
 position:absolute;
bottom:-360px;

 }

#prec-btn-1, #suiv-btn-1 {
  padding: 10px;
  font-size: 24px;
}

#suiv-btn-1{
margin-left: 36.5em;
position:absolute;
bottom:-790px;
}

#prec-btn-1 {
 margin-left: -76px;
 position:absolute;
bottom:-800px;

 }

#prec-btn-2, #suiv-btn-2 {
  padding: 10px;
  font-size: 24px;
}

#suiv-btn-2{
margin-left: 36.5em;
position:absolute;
bottom:-1160px;
}

#prec-btn-2 {
 margin-left: -76px;
 position:absolute;
bottom:-1160px;

 }

.hidden {
  display: none;
}
